body {
    background-color: black;
}

.navBar {
    overflow: auto;
    background-color: aqua;
    margin: 0px;
    padding: 10px;
}


.navBar a:hover {
    border-color: aqua;
    border: 2px;
}

.rightNB {
    float: right;
    padding-left: 10px;
}